<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produtos</title>
</head>
<body>
    <div class="container">
        <h1>Cadastro de Produtos</h1>
        <form action="">
            <label for="">Nome</label>
            <input type="text" placeholder="digite o nome">

            <label for="">Preço</label>
            <input type="text" placeholder="Digite o preço">

            <button type="submit">Cadastrar</button>

        </form>
        <a href="#">Voltar para a lista de produtos.</a>

    </div>
    
</body>
</html>